
img.ozzy {
        position: absolute;
        top: 60px;
        right: 120px;
    }
    
    #jahaci li{
            display: inline;
        }
    #jahaci{
            color: #000;
            border-bottom: 2px solid #808080;
            margin-top: 50px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
            padding: 1px;
            padding-left: 30px;
        }
     #jahaci li a{
            color: #000;
            background: #000000;
            border: 2px solid #808080
            padding: 3px 5px 1px 5px;
            margin:0px;
            text-decoration: none;
    }
    #jahaci li a:hover{
            border-bottom-color:white;
            background-color: #eee;
            color: #000000;
    }
    #jahaci li a:active{
            color: #000000;
        }


