
body {
        font-family: Arial, sans-serif;
 
    background-color: #f0f0f0; 

}

h3.podnaslov1{
        text-align: center;
}

p.natuknica1 {
        text-align: center;
}


        
}

img.desna {
      float:left; 
    }


    
    #jahaci {
            display: flex;
            justify-content: space-around;
            color: #000;
            border-bottom: 2px solid #808080;
            margin-top: 50px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
            padding: 1px;
            padding-left: 30px;
            list-style: none;
    }
 #jahaci li {
    flex-grow: 1;
    text-align: center;
 }

#jahaci li a {
    color: #000;
    background: #ffffff;
    border: 2px solid #808080;
    padding: 3px 5px 1px 5px;
    margin: 0px;
    text-decoration: none;
    display: block; 
}

#jahaci li a:hover {
    border-bottom-color: white;
    background-color: #eee;
    color: #000000;
}

#jahaci li a:active {
    color: #000000;
}


h1.naslov{
        text-align: center;
    margin-top: 20px;
  
        color: #000;
}











.carousel-wrapper{
  height:600px;
  position:relative;
  width:600px;
  margin:0 auto;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}
 
.arrow-next{
    right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }

.light{
  color:white;
}

@media (max-width: 480px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }
}

/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
  background:url('https://upload.wikimedia.org/wikipedia/en/6/64/Black_Sabbath_-_Paranoid.jpg');
  background-size:cover;
  }
.item-2{
  background:url('https://upload.wikimedia.org/wikipedia/en/d/da/Black_Sabbath_debut_album.jpg');
   background-size:cover;
}
.item-3{
  background:url('https://upload.wikimedia.org/wikipedia/en/4/40/Bsmor.jpg');
   background-size:cover;
}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  }
}




